@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';
@source '../**/*.ts';
@source '../**/*.tsx';

@theme {
    --font-sans: 'Space Grotesk', 'Satoshi', 'Avenir Next', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        font-family: var(--font-sans);
        background-color: #020617;
        color: #e2e8f0;
    }
}
